<nav id="top-links" class="nav toggle-wrap">
	<ul class="toggle_cont" style="box-shadow: none">
		<li><a href="<?php echo $shopping_cart; ?>">
				<img src="/buy.png" class="img-responsive" style="margin-right: 15px; margin-top: 25px; width: 21px; height: 21px; display: inline-block;">
				<span style="font-size: 13px; margin-top: 23px; display: inline-block; color: #4c9ad2; text-transform: uppercase;"><?php echo $text_shopping_cart; ?></span></a>
			<span style="width: 200px;
    position: absolute;
    bottom: -6px;
    left: 38px;
    font-size: 14px;" class="hidden-xs">
			<button type="button" data-loading-text="<?php echo $text_loading; ?>" class="toggle">
					<span id="cart-total" class="cart-total <?php if ( $text_items != ' 0 товаров ' ) { echo ' red-wight '; } ?>">
						<?php echo $text_items; ?>
					</span>
				<?php if (isset($text_items2)) { ?>
					<span id="cart-total2" style="display: none;" class="cart-total2"><?php echo $text_items2; ?></span>
				<?php } ?>
			</button>
		</span>
		</li>


	</ul>
</nav>

<style>
	#cart-top-count {
		background: white;
		border-radius: 50%;
		border: 2px solid red;
		width: 17px;
		height: 17px;
		margin-left: -17px;
		text-align: center;
		color: red;
	}
</style>

