<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-7">
		<div class="input-group" id="search">
			<input type="text" class="form-control search-input" name="search" value="<?php echo $search; ?>" placeholder="Поиск по сайту...">
			<span class="input-group-btn">
        		<button class="btn btn-default button-search" type="button"><i class="material-icons-search"></i></button>
      		</span>
		</div><!-- /input-group -->
	</div>

	<div class="col-md-4 hidden-sm hidden-xs">
		<!--  START: курс2.рф Widget HTML 1.0-->
		<style>table td:hover

			{background: none;}
			;
			table td

			{vertical-align:middel;}
			;
			table tbody td tr:hover td{background:none}table tbody td tr:hover td{background:none}</style>
		<table cellpadding="0" cellspacing="0"
			   style="z-index: 9999; right: 0; position: relative;    top: 20px;  border-collapse: inherit; border-collapse: inherit; border-radius: 0px ; border: none; width: 250px;text-shadow: none;font-family: Helvetica, Arial, sans-serif ;line-height: 1.5">
			<thead style="text-align: center;text-shadow: 0px 0px 0px #B4B4B4; display: none">
			<tr>
				<td colspan="5" style="padding-top: 8px; padding-bottom: 2px; width: inherit;text-align: center"><a class="curs"
																													title="Курс валют цб рф на сегодня" href="http://xn--2-stbsei.xn--p1ai/"
																													style="text-decoration: none; font-size: 10px; color: #000000">Курсы валют ЦБ РФ</a></td>
			</tr>
			<tr>
				<td colspan="5" style="font-size:13px;padding:0 0 10px 0; color: #207E95;text-align:center" id="curentData">
					26.04.2018
				</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td colspan="1" style="vertical-align: middle; padding: 0 0 7px 0;">
					<table cellpadding="0" cellspacing="0"
						   style="border-collapse: initial;width: inherit;margin: 0 auto; font-size: 14px;">
						<tr>
							<td><a  class="curs" title="Курс Доллара" href="http://курс2.рф/dollar-moscow" target="_blank"><img
											alt="Курс Доллара к рублю на сегодня" style="height: 16px; width: 16px; border-radius: 50%"
											src="http://xn--2-stbsei.xn--p1ai/images/flag2/usd.png"></a></td>
							<td style="padding: 0 10px; color: #000000"><a class="curs"
																		   style="text-decoration: none; color: #0082b1;  font-weight: bold; "
																		   title="Курс Доллара" href="http://курс2.рф/dollar-moscow" target="_blank">USD</a>
							</td>
							<td style="  padding: 0 12px 0 0px; color:black; " id="USD_td">00.0000</td>
							<td><img src="http://xn--2-stbsei.xn--p1ai/images/arr_red.png" id="USD_src"></td>
							<td style="color: black; font-size: 11px;  padding-left: 2px;" id="USD_tm">
								0.000
							</td>
						</tr>
					</table>
				</td>
			<tr>
				<td colspan="1" style="vertical-align: middle; padding: 0 0 7px 0;">
					<table cellpadding="0" cellspacing="0"
						   style="border-collapse: initial;width: inherit;margin: 0 auto; font-size: 14px;">
						<tr>
							<td><a class="curs" title="Курс Евро" href="http://курс2.рф/euro-moscow" target="_blank"><img
											alt="Курс Евро к рублю на сегодня" style="height: 16px; width: 16px; border-radius: 50%"
											src="http://xn--2-stbsei.xn--p1ai/images/flag2/eur.png"></a></td>
							<td style="padding: 0 10px; color: #0082b1"><a class="curs"
																		   style="text-decoration: none; color: #0082b1;  font-weight: bold; "
																		   title="Курс Евро" href="http://курс2.рф/euro-moscow" target="_blank">EUR</a></td>
							<td style="  padding: 0 12px 0 0px;color: black; " id="EUR_td">00.0000</td>
							<td><img src="http://xn--2-stbsei.xn--p1ai/images/arr_red.png" id="EUR_src"></td>
							<td style="color: #0082b1; font-size: 11px;  padding-left: 2px;" id="EUR_tm">
								0.000
							</td>
						</tr>
					</table>
				</td>
			</tr>
			</tbody>
			<tfoot></tfoot>
			<script src="http://xn--2-stbsei.xn--p1ai/b13/generateCode"></script>
		</table>
		<noscript><a class="curs" href="http://xn--2-stbsei.xn--p1ai/informer" title="информер курса валют">http://курс2.рф/informer</a>,
			Bucătării moderne și clasice in Moldova <a href="http://amevita.md/bucatarii-la-comanda/" target="_blank">amevita.md</a>
			la preturi accesibile
		</noscript><!--  END: topbiz.md Widget HTML 1.0-->
	</div>
</div>

